LastStand/Debug/*
LastStand/Data/*
LastStand/LastStand.vcxproj
LastStand/LastStand.vcxproj.filters
LastStand/LastStand.vcxproj.user
LastStand/Test.cpp
LastStand/Test.h
LastStand.opensdf
LastStand.sdf
LastStand.sln
LastStand.v12.suo
Debug/*
Release/*
LastStand/Release/*
*.txt
LastStand/debug.log
*.html